In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [34]:
df=pd.read_csv("C:\\Users\\kumar\\Downloads\\Oracle of Delphi -20221211T031809Z-001\\Oracle of Delphi\\Training set.csv")

In [35]:
df.head(5)

,Unnamed: 0.1,Unnamed: 0,Monthly_Inhand_Salary,Accounts of user,Credit cards user have,Interest Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Utlization Ratio,Credit Inquiries,Cumulative Balance,Cash Flow,Credit Score
0,5279,5279,4377.072500,10,6,27,6,35,18,16.66,2950.80,154.172426,301.593795,271.941029,76,15,4009,4251,Best
1,473,473,2184.576667,8,6,32,7,51,19,25.17,2989.13,132.481128,71.016720,294.959819,75,19,2425,1073,Best
2,1355,1355,1837.084167,3,7,3,2,14,8,3.37,1336.73,26.746701,31.027274,375.934441,94,0,1731,3322,Good
3,1546,1546,6867.951667,5,4,9,1,6,12,10.36,625.32,66.457710,176.267359,704.070097,86,8,1984,1614,Standard
4,1323,1323,1089.858750,4,7,4,2,12,5,11.90,1439.09,14.350146,50.840361,303.795367,93,0,2765,3986,Good

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6094 entries, 0 to 6093
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0.1             6094 non-null   int64
 1   Unnamed: 0               6094 non-null   int64
 2   Monthly_Inhand_Salary    6094 non-null   float64
 3   Accounts of user         6094 non-null   int64
 4   Credit cards user have   6094 non-null   int64
 5   Interest Rate            6094 non-null   int64
 6   Num_of_Loan              6094 non-null   int64
 7   Delay_from_due_date      6094 non-null   int64
 8   Num_of_Delayed_Payment   6094 non-null   int64
 9   Changed_Credit_Limit     6094 non-null   float64
 10  Outstanding_Debt         6094 non-null   float64
 11  Total_EMI_per_month      6094 non-null   float64
 12  Amount_invested_monthly  6094 non-null   float64
 13  Monthly_Balance          6094 non-null   float64
 14  Utlization Ratio         6094 non-null   int64
 15  Credit Inquiries         6094 non-null   int64
 16  Cumulative Balance       6094 non-null   int64
 17  Cash Flow                6094 non-null   int64
 18  Credit Score             6094 non-null   object
dtypes: float64(6), int64(12), object(1)
memory usage: 904.7+ KB

In [37]:
df.describe()

,Unnamed: 0.1,Unnamed: 0,Monthly_Inhand_Salary,Accounts of user,Credit cards user have,Interest Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Utlization Ratio,Credit Inquiries,Cumulative Balance,Cash Flow
count,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.00000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000,6094.000000
mean,3806.815228,3806.815228,4105.351815,18.182803,21.541024,65.382671,2.654578,21.372498,28.801936,10.817611,1439.73820,1550.832788,183.174991,387.273095,81.178044,13.066295,2985.287660,2574.918608
std,2193.304181,2193.304181,3110.624926,121.376021,124.675409,427.394378,58.323712,14.517574,203.746146,6.904191,1185.35345,8710.028534,177.494407,199.920606,8.749573,5.163934,1146.935437,1410.197652
min,0.000000,0.000000,355.208333,0.000000,0.000000,1.000000,-100.000000,-5.000000,-3.000000,-6.480000,0.95000,4.462837,0.000000,0.688299,70.000000,0.000000,1000.000000,100.000000
25%,1920.250000,1920.250000,1615.541667,4.000000,4.000000,8.000000,2.000000,10.000000,9.000000,5.720000,553.21500,39.806229,68.737275,268.254200,74.000000,10.000000,1988.250000,1386.000000
50%,3809.500000,3809.500000,3030.334167,6.000000,6.000000,14.000000,3.000000,19.000000,14.000000,9.810000,1152.98000,77.240964,124.521846,331.002330,78.000000,15.000000,2978.000000,2592.000000
75%,5698.750000,5698.750000,5855.600416,8.000000,7.000000,20.000000,5.000000,28.000000,18.000000,15.537500,1941.95000,172.742961,225.056325,446.925819,88.000000,17.000000,3965.000000,3803.000000
max,7617.000000,7617.000000,14958.336670,1789.000000,1484.000000,5721.000000,1464.000000,66.000000,4302.000000,35.840000,4998.07000,82204.000000,1607.303468,1435.343616,99.000000,19.000000,4999.000000,4999.000000

In [38]:
df.shape

(6094, 19)

In [39]:
df.corr()

,Unnamed: 0.1,Unnamed: 0,Monthly_Inhand_Salary,Accounts of user,Credit cards user have,Interest Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Utlization Ratio,Credit Inquiries,Cumulative Balance,Cash Flow
Unnamed: 0.1,1.000000,1.000000,0.015307,-0.010290,-0.001031,-0.013082,0.000078,-0.073679,-0.017365,0.072456,-0.061048,0.028441,0.007175,0.013694,-0.323111,0.345403,0.014285,-0.017063
Unnamed: 0,1.000000,1.000000,0.015307,-0.010290,-0.001031,-0.013082,0.000078,-0.073679,-0.017365,0.072456,-0.061048,0.028441,0.007175,0.013694,-0.323111,0.345403,0.014285,-0.017063
Monthly_Inhand_Salary,0.015307,0.015307,1.000000,-0.031120,0.020279,-0.002540,0.003744,-0.246409,-0.019750,-0.182632,-0.232170,0.003784,0.609601,0.683606,0.010116,-0.055440,-0.012978,-0.008614
Accounts of user,-0.010290,-0.010290,-0.031120,1.000000,-0.012137,-0.010080,-0.000132,0.041629,-0.002143,0.040852,0.050584,-0.005223,-0.034413,-0.013645,-0.011622,0.000330,-0.010242,0.015947
Credit cards user have,-0.001031,-0.001031,0.020279,-0.012137,1.000000,-0.014994,0.014504,-0.005178,0.014276,-0.009901,-0.006993,-0.019880,0.026285,0.003726,-0.004358,-0.009783,-0.002930,0.016710
Interest Rate,-0.013082,-0.013082,-0.002540,-0.010080,-0.014994,1.000000,-0.002557,0.014404,0.005611,-0.003460,0.026759,-0.015297,0.012613,-0.023379,-0.004928,0.007257,0.017162,-0.012543
Num_of_Loan,0.000078,0.000078,0.003744,-0.000132,0.014504,-0.002557,1.000000,0.018650,-0.000369,0.014959,0.009844,-0.008050,-0.012962,0.002147,-0.018677,0.004737,-0.003219,0.008768
Delay_from_due_date,-0.073679,-0.073679,-0.246409,0.041629,-0.005178,0.014404,0.018650,1.000000,0.026262,0.276978,0.569161,-0.006801,-0.164507,-0.277874,0.026120,0.065893,-0.006265,0.012281
Num_of_Delayed_Payment,-0.017365,-0.017365,-0.019750,-0.002143,0.014276,0.005611,-0.000369,0.026262,1.000000,-0.005934,0.018645,0.013695,-0.002832,-0.027610,-0.015007,0.008443,0.025683,0.002876
Changed_Credit_Limit,0.072456,0.072456,-0.182632,0.040852,-0.009901,-0.003460,0.014959,0.276978,-0.005934,1.000000,0.464016,-0.008524,-0.124854,-0.199428,-0.097604,0.143464,0.017280,0.006963
Outstanding_Debt,-0.061048,-0.061048,-0.232170,0.050584,-0.006993,0.026759,0.009844,0.569161,0.018645,0.464016,1.000000,0.008928,-0.155161,-0.294764,0.042517,0.052167,0.000069,0.008852
Total_EMI_per_month,0.028441,0.028441,0.003784,-0.005223,-0.019880,-0.015297,-0.008050,-0.006801,0.013695,-0.008524,0.008928,1.000000,-0.002415,-0.003391,-0.000032,0.004925,0.001410,-0.001694
Amount_invested_monthly,0.007175,0.007175,0.609601,-0.034413,0.026285,0.012613,-0.012962,-0.164507,-0.002832,-0.124854,-0.155161,-0.002415,1.000000,-0.077119,0.021497,-0.055937,-0.008555,0.001585
Monthly_Balance,0.013694,0.013694,0.683606,-0.013645,0.003726,-0.023379,0.002147,-0.277874,-0.027610,-0.199428,-0.294764,-0.003391,-0.077119,1.000000,-0.004987,-0.036289,-0.001666,-0.016578
Utlization Ratio,-0.323111,-0.323111,0.010116,-0.011622,-0.004358,-0.004928,-0.018677,0.026120,-0.015007,-0.097604,0.042517,-0.000032,0.021497,-0.004987,1.000000,-0.486368,-0.019192,-0.003629
Credit Inquiries,0.345403,0.345403,-0.055440,0.000330,-0.009783,0.007257,0.004737,0.065893,0.008443,0.143464,0.052167,0.004925,-0.055937,-0.036289,-0.486368,1.000000,-0.005909,-0.017512
Cumulative Balance,0.014285,0.014285,-0.012978,-0.010242,-0.002930,0.017162,-0.003219,-0.006265,0.025683,0.017280,0.000069,0.001410,-0.008555,-0.001666,-0.019192,-0.005909,1.000000,0.029062
Cash Flow,-0.017063,-0.017063,-0.008614,0.015947,0.016710,-0.012543,0.008768,0.012281,0.002876,0.006963,0.008852,-0.001694,0.001585,-0.016578,-0.003629,-0.017512,0.029062,1.000000

In [40]:
df['Credit Score'].replace(['Best', 'Good','Standard'], [1,0,2], inplace=True)
df.head(100)

,Unnamed: 0.1,Unnamed: 0,Monthly_Inhand_Salary,Accounts of user,Credit cards user have,Interest Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Utlization Ratio,Credit Inquiries,Cumulative Balance,Cash Flow,Credit Score
0,5279,5279,4377.072500,10,6,27,6,35,18,16.66,2950.80,154.172426,301.593795,271.941029,76,15,4009,4251,1
1,473,473,2184.576667,8,6,32,7,51,19,25.17,2989.13,132.481128,71.016720,294.959819,75,19,2425,1073,1
2,1355,1355,1837.084167,3,7,3,2,14,8,3.37,1336.73,26.746701,31.027274,375.934441,94,0,1731,3322,0
3,1546,1546,6867.951667,5,4,9,1,6,12,10.36,625.32,66.457710,176.267359,704.070097,86,8,1984,1614,2
4,1323,1323,1089.858750,4,7,4,2,12,5,11.90,1439.09,14.350146,50.840361,303.795367,93,0,2765,3986,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6094,6094,6919.663333,5,4,8,4,22,14,7.81,1383.41,176.497433,85.720718,679.748183,79,15,4226,2329,1
96,5142,5142,1479.784565,8,5,12,6,25,12,18.09,1382.82,189.725495,84.455252,289.882938,73,19,1085,405,1
97,3201,3201,11719.846670,0,5,2,4,3,4,3.94,174.79,345.741569,125.745955,950.497142,71,15,3080,226,1
98,734,734,5751.085000,8,4,4,1,29,12,0.67,843.44,39.808328,215.980697,579.319475,99,10,1848,1004,0
99,2013,2013,944.531250,9,5,25,9,44,20,5.80,1853.17,44.005211,38.777842,271.670072,81,13,2107,4392,2

In [41]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [42]:
#X= df.iloc[:,1:16]  # all features
#Y= df.iloc[:,-1]  # target output (Credit Score)

In [43]:
#credit_score= SelectKBest(score_func=chi2, k=4)
#fit= credit_score.fit(X,Y)

In [46]:
X= df[['Num_of_Loan', 'Cumulative Balance', 'Cash Flow']] 
Y= df[['Credit Score']]

In [47]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.4,random_state=100)

In [54]:
y_train=np.ravel(y_train)

In [55]:

logreg= LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression()

In [56]:
y_pred=logreg.predict(X_test)
print (X_test) #test dataset
print (y_pred) #predicted values

      Num_of_Loan  Cumulative Balance  Cash Flow
1151         1047                3610       4448
828             3                2447       2982
2285         -100                3086       4883
2348            4                4213       2165
4531            4                4516       4159
...           ...                 ...        ...
1982            4                4797       2822
570             3                4384       4667
5741            4                1494       4416
4337            4                2209       2820
5823            3                2398       3896

[2438 rows x 3 columns]
[1 1 1 ... 1 1 1]

In [57]:
from sklearn import metrics
from sklearn.metrics import classification_report
print('Accuracy: ',metrics.accuracy_score(y_test, y_pred))

Accuracy:  0.6513535684987695